<!DOCTYPE html>
<html>
<head>
  <title>New Follow Notification</title>
</head>
<body>
  <h1>Hello {{name}},</h1>
  <p>{{message}}</p>
  <p>Visit <a href="https://yourapp.com">Vestra</a> to view more.</p>
  <p>&copy; {{year}} Vestra</p>
</body>
</html>